.nav-logo{
  color:black;
  text-decoration:wavy;
  


}

.home-page{

  background-image: url("C:\Users\krish\OneDrive\Documents\GitHub\ok\client\public\images\home.jpg");

}

.hero{

  padding-top: 100px;

}

.banner-heading1{
  font-family: 'Raleway', sans-serif;
  padding-top: 100px;
font-family: 'REM', sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  color: #b9ff49;
  text-align: center;
}

.banner-heading2{
  color:#acff53;
  font-size: 50px;
  display: table;
  margin: 0 auto;
}

.content{
  padding-top: 300px;
  text-align: center;

}

.p-2 {
  background-color: #ffffff;

}

.footer{
  background-color: #552e1c;
}